body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
}

#game {
  max-width: 400px;
  margin: auto;
}

#scene img {
  display: block;
  width: auto;       /* conserve les proportions */
  height: 25vh;      /* 25% de la hauteur de l'écran */
  margin: 0 auto;    /* centré horizontalement */
  object-fit: contain; /* ajuste bien l'image sans la déformer */
}

#dialogue {
  padding: 20px;
  min-height: 120px;
  font-size: 18px;
}

#choices button {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background: #ff4d6d;
  border: none;
  color: white;
  border-radius: 8px;
}

canvas {
  display: none;
  background: white;
  margin: 10px auto;
  border-radius: 10px;
}