body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
  touch-action: none; 
  -webkit-overflow-scrolling: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

#game {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

#scene img {
  display: block;
  width: auto;       /* conserve les proportions */
  height: 45vh;      /* 25% de la hauteur de l'écran */
  margin: 0 auto;    /* centré horizontalement */
  object-fit: contain; /* ajuste bien l'image sans la déformer */
  margin-bottom: 10dvh;
  border-radius: 1dvw;
}

#dialogue {
  width: 100%;             /* texte contenu dans la largeur écran */
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
  height: auto;
  flex-wrap: wrap;
  word-wrap: break-word;
}

#choices button {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background: #ff4d6d;
  border: none;
  color: white;
  border-radius: 8px;
}

canvas {
  display: none;
  background: white;
  margin: 10px auto;
  border-radius: 10px;
}